In [4]:
import pandas as pd

ml = pd.read_csv('../output/ml_seasonal_forecast_2024.csv')
lr = pd.read_csv('../output/seasonal_linear_regression_forecast_2024.csv')

# For each month, get top 3 by forecast_units
ml_top3 = ml.groupby('month').apply(lambda x: x.nlargest(3, 'forecast_units')).reset_index(drop=True)
lr_top3 = lr.groupby('month').apply(lambda x: x.nlargest(3, 'forecast_units')).reset_index(drop=True)

# Add a model label
ml_top3['model_type'] = 'ML'
lr_top3['model_type'] = 'LinearRegression'

# Combine
top3_combined = pd.concat([ml_top3, lr_top3], ignore_index=True)

# Pivot for comparison
pivot = top3_combined.pivot_table(index=['month', 'brand_model'], columns='model_type', values='forecast_units')

print(pivot)

model_type                   LinearRegression    ML
month brand_model
1     Acura-RL                           11.0   NaN
      BMW-323i                            NaN   2.0
      Chevrolet-Malibu                    NaN   3.0
      Mercury-Grand Marquis               NaN   6.0
      Mitsubishi-Diamante                12.0   NaN
...                                       ...   ...
12    Acura-RL                            NaN  30.0
      Dodge-Ram Pickup                   69.0   NaN
      Mitsubishi-Diamante                69.0  33.0
      Oldsmobile-Silhouette              74.0   NaN
      Volkswagen-Passat                   NaN  25.0

[69 rows x 2 columns]

/var/folders/0c/3b2dkdy1209_gm_z1sjrc81c0000gn/T/ipykernel_59819/2129464860.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ml_top3 = ml.groupby('month').apply(lambda x: x.nlargest(3, 'forecast_units')).reset_index(drop=True)
/var/folders/0c/3b2dkdy1209_gm_z1sjrc81c0000gn/T/ipykernel_59819/2129464860.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  lr_top3 = lr.groupby('month').apply(lambda x: x.nlargest(3, 'forecast_units')).reset_index(drop=True)

In [5]:
for month in range(1, 13):
    ml_set = set(ml_top3[ml_top3['month'] == month]['brand_model'])
    lr_set = set(lr_top3[lr_top3['month'] == month]['brand_model'])
    overlap = ml_set & lr_set
    print(f"Month {month}:")
    print(f"  ML Top 3: {ml_set}")
    print(f"  LR Top 3: {lr_set}")
    print(f"  Overlap: {overlap}\n")

Month 1:
  ML Top 3: {'BMW-323i', 'Mercury-Grand Marquis', 'Chevrolet-Malibu'}
  LR Top 3: {'Mitsubishi-Diamante', 'Acura-RL', 'Oldsmobile-Silhouette'}
  Overlap: set()

Month 2:
  ML Top 3: {'BMW-323i', 'Mercury-Grand Marquis', 'Chevrolet-Malibu'}
  LR Top 3: {'Mitsubishi-Diamante', 'Chevrolet-Prizm', 'Oldsmobile-Silhouette'}
  Overlap: set()

Month 3:
  ML Top 3: {'BMW-323i', 'Mercury-Grand Marquis', 'Chevrolet-Malibu'}
  LR Top 3: {'Mitsubishi-Diamante', 'Acura-RL', 'BMW-528i'}
  Overlap: set()

Month 4:
  ML Top 3: {'Mercury-Grand Marquis', 'Acura-TL', 'Chevrolet-Malibu'}
  LR Top 3: {'Chevrolet-Prizm', 'Volkswagen-Passat', 'BMW-528i'}
  Overlap: set()

Month 5:
  ML Top 3: {'Mercury-Grand Marquis', 'Chevrolet-Malibu', 'Acura-TL'}
  LR Top 3: {'Chrysler-LHS', 'Chevrolet-Prizm', 'BMW-528i'}
  Overlap: set()

Month 6:
  ML Top 3: {'Mercury-Grand Marquis', 'Chevrolet-Malibu', 'Acura-TL'}
  LR Top 3: {'Mitsubishi-Diamante', 'Volkswagen-Passat', 'Dodge-Ram Pickup'}
  Overlap: set()

Month 7:
  ML Top 3: {'Mercury-Grand Marquis', 'Acura-TL', 'Chevrolet-Malibu'}
  LR Top 3: {'Chrysler-LHS', 'Chevrolet-Prizm', 'Oldsmobile-Silhouette'}
  Overlap: set()

Month 8:
  ML Top 3: {'BMW-323i', 'Mercury-Grand Marquis', 'Chevrolet-Malibu'}
  LR Top 3: {'Chevrolet-Prizm', 'Oldsmobile-Silhouette', 'Dodge-Ram Pickup'}
  Overlap: set()

Month 9:
  ML Top 3: {'Mitsubishi-Diamante', 'Acura-RL', 'Volkswagen-Passat'}
  LR Top 3: {'Volkswagen-Jetta', 'Chevrolet-Prizm', 'Dodge-Ram Pickup'}
  Overlap: set()

Month 10:
  ML Top 3: {'Mitsubishi-Diamante', 'Acura-RL', 'Volkswagen-Passat'}
  LR Top 3: {'Volkswagen-Jetta', 'Volkswagen-Passat', 'Dodge-Ram Pickup'}
  Overlap: {'Volkswagen-Passat'}

Month 11:
  ML Top 3: {'Mitsubishi-Diamante', 'Acura-RL', 'Volkswagen-Passat'}
  LR Top 3: {'Mitsubishi-Diamante', 'Volkswagen-Jetta', 'Chevrolet-Prizm'}
  Overlap: {'Mitsubishi-Diamante'}

Month 12:
  ML Top 3: {'Mitsubishi-Diamante', 'Acura-RL', 'Volkswagen-Passat'}
  LR Top 3: {'Mitsubishi-Diamante', 'Oldsmobile-Silhouette', 'Dodge-Ram Pickup'}
  Overlap: {'Mitsubishi-Diamante'}